@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background: #0ef;
    color: #1f242d;
}

body {
    background: #1f242d;
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#1f242d;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size:25px !important;
    font-weight:700 !important;
    color: #0ef !important;
    text-decoration: none !important;
    cursor: default !important;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 2s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover,.navbar .active{
    color:#0ef;
}

section{
    position: relative;
    height: 100vh;
    margin-top: 14rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
    margin-bottom:14rem;
}

.home{
    margin-top: 8rem;

}

#hamburger-button{
    font-size: 30px;
    color:#0ef;
}

.home-content{
    
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3:nth-of-type(1)
{
    margin-top: 30px;

}
.home-content h3:nth-of-type(2)
{
    margin-bottom: 30px;

}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    margin-bottom: 5px;
}
.home-content p{
    font-size:18px;
}
.home-content span{
    color:#0ef;
}

.home-image img{
    max-width:450px;
    margin-right: -20px;
    border-radius: 40%;
    border: 2px solid #0ef;
    box-shadow: 0 0 40px #0ef;
    animation: imageSwirl 10s ease-in-out forwards;
    animation-iteration-count: infinite;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}


.about p{
    font-size: 18px;
}

.pointers{
    display: block;
    font-weight:700;
    color: #0ef;
    text-decoration: none;
    cursor: default;
    opacity: 1;
    animation: slideRight 1s ease-in-out forwards;
    
}

.skills .skillDomain{
    height:15rem;
    width:15rem;
    padding:2.5 rem;
    margin: 2.5rem;
    border: 2px solid #0ef;
    border-radius: 10%;
    box-shadow: 0 0 10px #0ef;
    text-align: center;
    transition: all 0.5s ease-in-out;

}
.skillDomain .title{
    position: relative;
    transform: translateY(0.6rem);
    color:#fff;
    text-shadow: 0.1px 0.1px 3px #0ef ;
    font-size: 1.5rem;

}
.icons img{
    height:4rem;
    width:4rem;
    margin:1rem;
    transition: all 0.5s ease-in-out;
}
.Database .icons img{
    height:4rem;
    width:4rem;
    transition: all 0.5s ease-in-out;
}
.icons img:hover{
    transform: scale(1.5);
}
.skillDomain:hover, .card:hover{
    box-shadow: 0 0 50px #0ef;
    transform: translateY(-1rem);
}

.card{
    background-color: transparent;
    border: 3px solid #0ef;
    border-radius: 10%;
    margin:2rem;
    transition: all 0.6s ease-in-out;
    box-shadow: 0 0 10px #0ef;

    
}
.card-title,.interview-titles{
    color:#0ef;
    font-weight:700;
}



.interview-main{
    font-size: 1.2rem;
}

#experience{
height: 100vh;
margin-top: 20rem !important;
margin-bottom: 20rem;
}

.main-timeline-2 {
    position: relative;
  }
  
  .main-timeline-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #26c6da;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline-2 {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline-2::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #26c6da;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left-2 {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  .right-2 {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  .left-2::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right-2::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right-2::after {
    left: -14px;
  }

  .exp-card{
    width: 22rem;
  }
  
  @media screen and (max-width: 600px) {
    .main-timeline-2::after {
      left: 31px;
      
    }
  
     .exp-card{
        width: 18rem !important;;
    }
    .experience{
        transform: translateX(-6rem);
    }
    .timeline-2 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .timeline-2::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left-2::after,
    .right-2::after {
      left: 18px;
    }
  
    .left-2::before {
      right: auto;
    }
  
    .right-2 {
      left: 0%;
    }
     


  }

  .future{
    border: 5px solid #fff;
    animation: border-effect 1s;
    animation-iteration-count: infinite;

  }
@keyframes border-effect {

    0%{
        border: 5px solid #fff;
    }
    25%{
        border-right: 5px solid #0ef;
    }
    50%{
        border-bottom: 5px solid #0ef;
    }
    75%{
        border-left: 5px solid #0ef;
    }
    100%{
        border-top: 5px solid #0ef;
    }
    
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
        
        
    }
    100%{
        transform: translateX(-30px);
        opacity: 1;

    }
    
}

@keyframes imageSwirl {

    0%{
        box-shadow: 0 0 20px #0ef;
    }

    50%{
        box-shadow: 0 0 80px #0ef;
    }

    100%{
        box-shadow: 0 0 20px #0ef;
    }
    
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
    
    
}
@media screen and (max-width: 960px) {

    .logo{
        font-size:20px !important;
    }
    .about,.skills, .project{
        margin-top:22rem !important;  
        margin-bottom:22rem !important;  
    }
    .home{
        margin-top: 9rem;
    }
    #experience{
        margin-top:40rem !important;  
        margin-bottom:40rem !important;          
    }
    .exp-img{
        height: 10rem!important;
    }
    .left{
        display:flex;
        justify-content: center;
    }
    .right{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-image img{
        
        max-height: 300px;
        max-width: 300px;
            
    }
    .home-content h3{
        font-size: 20px;
    }
    .home-content h1{
        font-size: 30px;
        
    }
    .home-content p{
        font-size:12px;
    }
  }
